*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: #c2c8cb;
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 2rem 2rem;
    
}

.PlayButton {
    width: 128px;
    height: 128px;
    border-style: none;
    border: black solid 2px;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #2C3133;
}

.gameInformation{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    gap: 2rem;
}

.score{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.scoreBoard{
    display: flex;
}

.gameFeed{
    min-height: 8rem;
    max-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 500px;
}

.reset{
    width: 5rem;
    height: 2rem;
    border-style: none;
    border-radius: 0.3rem;
    background-color: #2b96c1;
    font-family: "Poppins", sans-serif;
}